.carousel {
  position: relative;

  .counter {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 500;

    @media screen and (max-width: 375px) {
      display: none;
    }
  }
}
