.link {
  position: relative;
  height: clamp(255px, 24vw, 340px);
  border-radius: 10px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 1;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    animation: slide 600ms forwards cubic-bezier(0.17, 0.67, 0.16, 1.22);
  }

  h2 {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: clamp(15px, 3vw, 20px);
    color: white;
    font-size: 18px;
    font-weight: 400;
    z-index: 2;
  }
}

@keyframes slide {
  from {
    transform: scale(0);
    border-radius: 100%;
  }

  to {
    transform: translate(1);
    border-radius: none;
  }
}
