.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  li {
    display: grid;
    place-items: center;
    height: clamp(18px, 3vw, 25px);
    color: white;
    background-color: var(--clr-main);
    padding-inline: 30px;
    border-radius: clamp(5px, 1vw, 10px);
    font-size: clamp(10px, 2vw, 14px);
  }
}
