@mixin desktop {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@mixin absoluteCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
