.hide {
  display: none;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transform-origin: center;
  height: clamp(20px, 7vw - 1vh, 80px);

  &.left {
    left: 23px;
  }

  &.right {
    right: 23px;
    transform: translateY(-50%) rotate(180deg);
  }
}
