.collapse {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    background-color: #f6f6f6;
    font-weight: 400;
    font-size: clamp(12px, 2vw, 18px);
    border-radius: clamp(5px, 1vw, 10px);
    padding-block: clamp(23px, 4vw, 40px);
    padding-inline: clamp(10px, 2vw, 20px);
    position: relative;
    top: -10px;
    z-index: -1;
    line-height: clamp(17px, 4vw, 25px);
    color: #ff6060;
  }
}
