@use "../../../styles/abstracts/mixins" as *;

.nav {
  margin-left: auto;

  ul {
    display: flex;
    gap: clamp(10px, 6vw - 1.5rem, 57px);

    a {
      color: var(--clr-main);

      font-size: clamp(12px, 3vw, 24px);
      font-weight: 500;

      &.active {
        text-decoration: underline;
      }

      @include mobile {
        text-transform: uppercase;
      }
    }
  }
}
