.nav {
  margin-left: auto;

  ul {
    display: flex;
    gap: clamp(10px, 6vw - 1.5rem, 57px);

    a {
      color: #ff6060;

      font-size: clamp(12px, 3vw, 24px);
      font-weight: 500;

      &.active {
        text-decoration: underline;
      }

      @media screen and (max-width: 600px) {
        text-transform: uppercase;
      }
    }
  }
}
