.card {
  position: relative;
  height: clamp(255px, 24vw, 340px);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ff6060;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  h2 {
    position: absolute;
    left: 20px;
    bottom: clamp(15px, 3vw, 20px);
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
}
