@use "../../styles/abstracts/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-inline: 5vh;

  * {
    color: var(--clr-main);
  }

  h1 {
    font-size: clamp(96px, 22vw, 288px);
    margin-top: 169px;

    @include mobile {
      margin-top: 195px;
    }
  }

  h2 {
    font-size: clamp(18px, 4vw, 36px);
    font-weight: 400;
    text-align: center;
    margin-top: clamp(11px, 5vw, 66px);
    margin-bottom: clamp(133px, 15vw, 186px);
  }

  a {
    // margin-bottom: 159px;
    margin-bottom: clamp(159px, 30vh - 15vw, 236px);
    font-size: clamp(14px, 2vw, 18px);
    text-decoration: underline;
  }
}
