@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  --clr-main: #ff6060;
  --clr-footer: black;
}

#root {
  min-height: 100vh;
  padding-inline: clamp(20px, 9vw - 1.8vmax, 100px);
  padding-top: clamp(20px, 3vw, 40px);
  display: flex;
  flex-direction: column;
}
