@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  --clr-main: #ff6060;
  padding-block: clamp(20px, 2vw, 40px);
  padding-inline: clamp(20px, 2vw, 100px);
}
